<div class="row">
<div class="col-md-12">
    <form>
        <div class="row">
            <div class="col-md-5 form-group">
                <label for="name">Name</label>
                <input type="text" 
                #nameInput id="name" class="form-control ">
            </div>
            <div class="col-md-2  form-group">
                <label for="amount">Amount</label>
                <input type="text" #amountInput id="amount" class="form-control ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="onAddItem()">Add</button>
                <button type="button" class="btn btn-danger" >Delete</button>
                <button type="button" class="btn btn-success" >Success</button>

                
            </div>
        </div>

    </form>
</div>

</div>
